@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;1,700&display=swap');
:root{
    --text-color: #ebd5b0;
    --backgroundB: #1d130a;
    --backgroundW: #faf5f0;
    --family: 'Montserrat', sans-serif;
    --backgroundB2: #956841;

}
body{
    background-color: var(--backgroundW);
}
H1{
    font-weight: bold;
    font-family: var(--family);
    color: var(--backgroundB);
    display: block;
    padding: 10px;
}
input{
    display: block;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    border-style:solid;
    border-color: var(--backgroundB2);
    

}
button{
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    border-style:solid;
    border-color: var(--backgroundB2);
    background-color: var(--text-color);
    color: var(--backgroundB);
    font-weight: bold;
}